.flow {
  counter-reset: stepNumber;
  margin-top: 0.6em;
  margin-bottom: 3em;
  font-size: 0.94em;

  @media (max-width: 1560px) {
    .imageWrapper {
      float: none !important;
      width: 100% !important;
      margin-left: 0 !important;
    }

    ol {
      max-width: 100%;
    }
  }

  &::after {
    content: " ";
    display: block;
    clear: both;
  }

  .imageWrapper {
    float: right;
    width: 50%;
    max-width: 700px;
    margin-bottom: 1.5em;
    margin-left: 1.5em;

    .image {
      padding-top: 58.4%;
      position: relative;
      overflow: hidden;
      background: #000;
      box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
      
      & > figure {
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
        z-index: 1;

        > img {
          transition: transform 0.6s cubic-bezier(0.57, 0.13, 0.44, 0.86) 0s;
        }
      }
    }
  }

  ol {
    padding-left: 0;
  }

  &:last-child ol {
    margin-bottom: 0!important;
  }

  .step {
    counter-increment: stepNumber;
    list-style: none;
    min-height: 2.8em;
    padding: 0.2em 0 1.2em 2.2em;
    position: relative;
    cursor: pointer;

    > *:not(:first-child) {
      cursor: auto;
    }

    &:last-child {
      padding-bottom: 0;
    }

    &::before {
      content: "\2713";
      display: inline-block;
      margin-top: 0.2em;
      width: 1.6em;
      height: 1.6em;
      margin-left: -2.2em;
      margin-right: 0.6em;
      border-radius: 1.6em;
      background: #c5d4e8;
      color: #fff;
      font-weight: bold;
      text-align: center;
    }

    &.current:not(:last-child),
    &:hover {
      &::before {
        background: #00bdff !important;
      }
    }

    &.current:not(:last-child)::before,
    &:hover::before,
    &.current ~ .step::before {
      content: counter(stepNumber);
      background: #6c89ad;
    }
    
    * {
      max-width: 100%;
    }

    > *:first-child {
      margin-top: 0;
    }

    > p {
      display: inline;

      &::after {
        content: " ";
        display: block;
        margin: 0 0 0.8em;
      }
    }

    [class^="codeBlockContainer_"]:last-child {
      margin-bottom: 0.2em;
    }
  }
}