.flex-container {
  display: flex;
  flex-direction: row;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  > svg {
    padding-right: 1rem;

    @media (max-width: 768px) {
      padding-right: 0;
      padding-bottom: 1rem;
    }
  }

  svg + svg {
    border-left: solid black 1px;
    padding-left: 1rem;

    @media (max-width: 768px) {
      border-left: none;
      border-top: solid black 1px;
      padding-left: 0;
      padding-top: 1rem;
    }
  }
}
