.mermaid {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 3em 0 3.5em;
}

img {
  max-width: none;
}

.node rect {
  transform: scale(0.96) translateX(2px);
}

.nodeLabel {
  padding: 0.3em;
}

.edgeLabel {
  padding: 0.3em 0.5em;
  text-align: center;
  border-radius: 5px;
}

.edgeLabel:empty {
  display: none;
}

// Loft logo
.node.loft rect {
  fill: #00bdff !important;
}

// Loft logo
.node.loft img {
  max-width: none;
  padding-top: 5px;
  padding-left: 5px;
  filter: grayscale(1) brightness(100);
}

// right side of diagram
.node.yaml foreignObject {
  align-items: left;
  padding-top: 0.2em;
  display: block;
}

.node.yaml .label {
  align-items: center;
  text-align: center;
}

.node.yaml rect {
  display: none;
  stroke: transparent;
  stroke-width: 1px;
  align-items: center;
}

.node.yaml pre {
  display: center;
  background: 0 0;
  background-color: #6c89ad;
  border: none;
  //padding: 0;
  //margin: 0;
  text-align: left;
  align-items: center;
}

// left side of diagram
.node.code rect {
  fill: #263544 !important;
  transform: translateX(0.06em);
}

.node.code code {
  display: inline-block;
  background: #263544;
  border: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

// Left side of diagram
.node.code code::before {
  display: inline-block;
  content: '$';
  font-weight: bold;
  color: #00bdff;
  transform: translate(-0.3em, -0.1em);
}

.node.code pre {
  border: none;
  display: inline-block;
  padding: 0;
  margin: 0;
  text-align: center;
}
