.expander {
  display: inline-block;
  padding: 0 0.2em;
  font-weight: 600;
  color: rgb(65, 145, 247);

  &::before {
    display: inline-block;
    margin-right: 0.26em;
    content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024' focusable='false' data-icon='step-forward' width='1em' height='1em' fill='rgb(65, 145, 247)' aria-hidden='true'><path d='M328 544h152v152c0 4.4 3.6 8 8 8h48c4.4 0 8-3.6 8-8V544h152c4.4 0 8-3.6 8-8v-48c0-4.4-3.6-8-8-8H544V328c0-4.4-3.6-8-8-8h-48c-4.4 0-8 3.6-8 8v152H328c-4.4 0-8 3.6-8 8v48c0 4.4 3.6 8 8 8z'></path><path d='M880 112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V144c0-17.7-14.3-32-32-32zm-40 728H184V184h656v656z'></path></svg>");
    transform: translateY(0.17em) scale(1.15);
  }
}