name: Release

on:
  release:
    types: [created]

jobs:
  publish-cli:
    if: startsWith(github.ref, 'refs/tags/v') == true
    runs-on: macOS-latest
    steps:
      - name: Set up Go 1.13
        uses: actions/setup-go@v1
        with:
          go-version: 1.13
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
        with:
          repository: ${{ secrets.LOFT_REPO }}
      - id: get_version
        run: |
          RELEASE_VERSION=$(echo $GITHUB_REF | sed -nE 's!refs/tags/!!p')
          echo "::set-output name=release_version::$RELEASE_VERSION"
      - name: Compile binaries
        run: ./hack/build-cli.sh loft "$RELEASE_VERSION" cmd/loftctl/main.go
        env:
          RELEASE_VERSION: ${{ steps.get_version.outputs.release_version }}
      - name: Publish
        uses: FabianKramm/release-asset-action@v1
        with:
          pattern: "release/*"
          github-token: ${{ secrets.GITHUB_TOKEN }}
  publish-image:
    if: startsWith(github.ref, 'refs/tags/v') == true
    needs: [publish-cli]
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
        with:
          repository: ${{ secrets.LOFT_REPO }}
      - id: get_version
        run: |
          RELEASE_VERSION=$(echo $GITHUB_REF | sed -nE 's!refs/tags/!!p')
          echo "::set-output name=release_version::$RELEASE_VERSION"
      - uses: jerray/publish-docker-action@v1.0.3
        with:
          auto_tag: true
          repository: loftsh/loft
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          build_args: RELEASE_VERSION=${{ steps.get_version.outputs.release_version }}
      - uses: jerray/publish-docker-action@v1.0.3
        with:
          tags: latest
          repository: loftsh/loft
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          build_args: RELEASE_VERSION=${{ steps.get_version.outputs.release_version }}
  publish-chart:
    if: startsWith(github.ref, 'refs/tags/v') == true
    needs: [publish-image]
    runs-on: ubuntu-18.04
    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - uses: azure/setup-helm@v1
        with:
          version: 'v3.0.2'
      - run: |
          RELEASE_VERSION=$(echo $GITHUB_REF | sed -nE 's!refs/tags/v!!p')
          helm plugin install https://github.com/chartmuseum/helm-push.git
          helm repo add chartmuseum $CHART_MUSEUM_URL --username $CHART_MUSEUM_USER --password $CHART_MUSEUM_PASSWORD
          helm push --version="$RELEASE_VERSION" chart/ chartmuseum
        env:
          CHART_MUSEUM_URL: "https://charts.devspace.sh/"
          CHART_MUSEUM_USER: ${{ secrets.CHART_MUSEUM_USER }}
          CHART_MUSEUM_PASSWORD: ${{ secrets.CHART_MUSEUM_PASSWORD }}
